/* ====================== HEADER CONTAINER ====================== */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    padding: 0 20px;
}


/* ====================== NAVBAR ====================== */
.navbar-principal {
    background-color: #0A0B0A;
    border-radius: 10px;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: 28px;
}

.navbar-principal__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.navbar-principal__link {
    text-decoration: none;
    font-size: 0.8rem;
    color: #EFE7D2;
    padding: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar-principal__link--Name {
    text-decoration: none;
    font-size: 1.8rem;
    color: #EFE7D2;
    padding: 5px;
}

.navbar-principal__link--Book {
     text-decoration: none;
    font-size: 0.8rem;
    color: #EFE7D2;
    padding: 10px 20px;
    background-color: #383737;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar-principal__link--Book:hover {
    background-color: #666464;
}


/* ====================== ICON BAR ====================== */
.icon-bar {
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    margin-top: 28px;
}

.icon-bar__btn {
    width: 50px;
    height: 50px;
    background-color: #0A0B0A;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-bar__btn:hover {
    background-color: #666464;
}

.icon-bar__register {
    color: #EFE7D2;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 0 15px;
    background-color: #0A0B0A;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-bar__register:hover {
    background-color: #666464;
}

.icon-bar__icon {
    color: #EFE7D2;
    font-size: 22px;
}


/* ====================== BURGER MENU ====================== */
.burger-menu {
    font-size: 18px;
    background-color: #383737;
    border-radius: 5px;
    padding: 4px 10px;
}

.burger-menu:hover {
    background-color: #666464;
}

.menu {
    display: none;
}

.menu-icon {
    color: white;
    cursor: pointer;
}

#menu-toggle:checked ~ .menu {
    display: block;
}

.ocultar {
    display: none;
}