.contact-layout {      
  display: flex;
  flex-direction: row;
  margin-top: 1.25vw;
  width: 100%;
  height: calc(100vh - 1.7rem);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 0.2rem;
  gap: 1.6rem;
}

.contact-layout__fondo {
  flex:1;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  ), url('/frontend/assets/images/contact.jpg');
  background-size: cover;
  background-position: center;

  border-right: none;
  border-radius: 1.6rem;
  margin-left: 1.25vw;
  margin-bottom: 1.25vw;
}

.contact-layout__name {
  font-family: 'Forum', serif;
  max-width: 90%;
  font-size: clamp(4rem, 7.3vw, 14rem);
  letter-spacing: clamp(0.15rem, 0.15vw, 0.3rem);
  color: #EFE7D2;
  white-space: pre-line;
  text-align: left;
  line-height: 1;
  padding-bottom: 3.9vw;
  padding-left: 5.3vw;
  position: absolute;
  bottom: 4.85vh;
  left: 2rem;
  z-index: 2;
}

.contact-layout__contenido {
  flex: 1;
  background-color: black;
  color: #EFE7D2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-right: 1.25vw;

  border: 0.2rem solid gray;
  border-radius: 1rem;
  margin-bottom: 1.25vw;
  padding: 2rem;
}

.contact-layout__font {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "opening-hours image-gallery"
    "maps get-in-touch";

  max-width: 92rem;
  margin: 0 auto;
  gap: 2rem;
  padding-bottom: 2rem;

  @media (max-width: 76.8rem) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "opening-hours"
      "image-gallery"
      "maps"
      "get-in-touch";
  }
}

.contact-layout__description1 {
  grid-area: opening-hours;
  background-color: #0A0B0A; 
  border: 0.2rem solid gray;
  border-radius: 1rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40rem;
}

.contact-layout__title {
  font-size: clamp(2rem, 3vw, 3rem);
  padding-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  color: #EFE7D2;
  text-align: center;
  line-height: 1.2;
}

.contact-layout__text {
  font-size: 1.6rem;
  line-height: 2;
  font-family: 'Satoshi', sans-serif;
  color: #EFE7D2;
  white-space: pre-line;
  text-align: left;
  width: 100%;
}

.contact-layout__containerimg {
  grid-area: image-gallery;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-layout__img1, 
.contact-layout__img2, 
.contact-layout__img3, 
.contact-layout__img4 {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.contact-layout__img1 {
  filter: brightness(20%);
}

.instagram-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.instagram-logo img {
  width: 4rem;
  height: auto;
}

.instagram-logo:hover {
  opacity: 1;
}

.contact-layout__maps {
  grid-area: maps;
  width: 100%;
  height: 40rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-layout__maps iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.contact-layout__getintouch {
  grid-area: get-in-touch;
  background-color: #0A0B0A; 
  border: 0.2rem solid gray;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40rem;
}

.contact-layout__getintouch .contact-layout__text a img {
  width: 3rem;
  height: auto;
  margin: 0 0.5rem;
  vertical-align: middle;
}