.blog-layout {      
  display: flex;
  flex-direction: row;
  margin-top: 1.25vw;
  width: 100%;
  height: calc(100vh - 1.7rem);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 0.2rem;
  gap: 1.6rem;
}

.blog-layout__fondo{
  flex:1;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  ), url('/frontend/assets/images/blog.jpg');
  background-size: cover;
  background-position: center;

  border-right: none;
  border-radius: 1.6rem;
  margin-left: 1.25vw;
  margin-bottom: 1.25vw;
}

.blog-layout__contenido {
  flex: 1;
  color: white;
  overflow-y: auto;
  margin-right: 1.25vw;
  background-color: black;
  border: 0.2rem solid rgba(128, 128, 128, 0.5);
  border-radius: 1.6rem;
  margin-bottom: 1.25vw;
}
