.header {
  position: fixed;
  top: 72px;
  left: 72px;
  z-index: 1000;
  background-color: #0a0b0a;
  border-radius: 12px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
  margin: 0;
  justify-content: flex-start;
}

.header__logo-image {
  width: 118.31px;
  height: 30.82px;
}

.header__menu-btn {
  width: 41px;
  height: 41px;
  background-color: #181818;
  border: 1px solid rgba(239, 231, 210, 0.15);
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.header__menu-btn-line {
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #efe7d2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__menu-btn-line:nth-child(1) {
  top: calc(50% - 5px);
}

.header__menu-btn-line:nth-child(3) {
  top: calc(50% + 5px);
}

.header__nav {
  display: flex;
  gap: 10px;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__nav-item_menu,
.header__nav-item_about {
  background-color: transparent;
  color: #efe7d2;
}

.header__nav-item_book-a-table {
  background-color: #181818;
  border: 1px solid rgba(239, 231, 210, 0.15);
  color: #efe7d2;
}

@media (max-width: 768px) {
  .header__container {
    width: 90%;
  }
}