.about-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    gap: 16px;
    border-radius: 1.6rem; 
    background-color: transparent;
    margin: 1.25vw;
    margin-right: 1.25vw;;
}


.about-layout__fondo{
    flex:1;
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.0) 50%,
      rgba(0, 0, 0, 0.7) 100%
    ), url('/frontend/assets/images/about.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
}

.about-layout__name {
    max-width: 90%;
    font-size: clamp(4rem, 7.3vw, 14rem);
    letter-spacing: clamp(0.15rem, 0.15vw, 0.3rem);
    font-family: 'Forum', serif;
    color: #EFE7D2;
    position: absolute;
    text-align: left;
    padding-bottom: 3.9vw;
    padding-left: 5.3vw;
    align-self: flex-start;
    bottom: 4.85vh;
    left: 2rem;
}

.about-layout__contenido {
    flex: 1; 
    color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: black;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.about-layout__contenido::-webkit-scrollbar {
    display: none;
}

.about-layout__description {
    flex: 1;
    background-color: black; 
    border: 0.1rem solid rgba(128, 128, 128, 0.5);
    border-radius: 1.6rem;
    padding: 1rem 1rem;
    max-width: none;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-layout__title {
    font-size: clamp(2.6rem, 1.6vw, 3.2rem);
    padding-bottom: 1.5rem;
    font-family: 'Forum', serif;
    font-weight: 100;
    color: #EFE7D2;
}

.about-layout__text {
    font-size: clamp(1.2rem, 0.9vw, 1.6rem);
    line-height: 1.8;
    font-family: 'Satoshi', serif;
    color: #EFE7D2;
    text-align: left;
}

.about-layout__font {
    display: flex;
    gap: 16px;
    width: 100%;
}

.about-layout__containerimg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-layout__img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: auto;
}

.about-layout__container {
    display: flex;
    color: #EFE7D2;
    gap: 16px;
    width: 100%;
}

.about-layout__achieves1, 
.about-layout__achieves2, 
.about-layout__achieves3 {
    border: 0.1rem solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-layout__stars {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.about-layout__title2 {
    font-size: clamp(2rem, 1.4vw, 2.4rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Forum', serif;
    font-weight: 100;
}

.about-layout__minitext {
    font-size: clamp(0.8rem, 0.7vw, 1.2rem);
    line-height: 1.4;
    width: auto;
    font-family: 'Satoshi', serif;
    font-weight: 20;
    padding-left: 0;
}

.about-layout__font2 {
    display: flex;
    gap: 16px;
    width: 100%;
}

.about-layout__containerimg2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-layout__img2 {
    border-radius: 10px;
    width: 100%; 
    height: auto;
    object-fit: cover;
    max-height: 335px;
}

.about-layout__description2 {
    flex: 1;
    background-color: black;
    color: #EFE7D2;
    border: 0.1rem solid rgba(128, 128, 128, 0.5);
    border-radius: 1.6rem;
    padding: 20px 60px;
    max-width: none;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-layout__title3 {
    font-size: clamp(2rem, 1.6vw, 2.4rem);
    padding-bottom: 1.5rem;
    font-family: 'Forum', serif;
    font-weight: 100;
}

.about-layout__text2 {
    font-size: clamp(1rem, 0.9vw, 1.6rem);
    line-height: 1.8;
    font-family: 'Satoshi', serif;
}
