.cart {      
  display: flex;
  flex-direction: row;
  margin-top: 1.25vw;
  width: 100%;
  height: calc(100vh - 1.7rem);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 0.2rem;
  gap: 1.6rem;
}

.cart-fondo {
  flex:1;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  ), url('/frontend/assets/images/cart.jpg');
  background-size: cover;
  background-position: center;

  border-right: none;
  border-radius: 1.6rem;
  margin-left: 1.25vw;
  margin-bottom: 1.25vw;
}

.cart-fondo__name {
  font-family: 'Forum', serif;
  max-width: 90%;
  font-size: clamp(4rem, 7.3vw, 14rem);
  letter-spacing: clamp(0.15rem, 0.15vw, 0.3rem);
  color: #EFE7D2;
  white-space: pre-line;
  text-align: left;
  line-height: 1;
  padding-bottom: 3.9vw;
  padding-left: 5.3vw;
  position: absolute;
  bottom: 4.85vh;
  left: 2rem;
  z-index: 2;
}

.cart-contenido {
  flex: 1;
  background-color: black;
  color: white;
  overflow-y: auto;
  display: flex;
  margin-right: 1.25vw;

  border: 0.2rem solid gray;
  border-radius: 1.6rem;
  margin-bottom: 1.25vw;
}

.cart-contenido__container {
  flex-direction: column;
  gap: 1.3rem;
  margin: 0 auto;
  background-color: transparent;
  padding: 2rem;
  border-radius: 1rem;
  color: #EFE7D2;
  font-family: 'Playfair Display', serif;
}

.cart-container__title {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 6rem;    
}