@import url('header-bar/header-bar.css');
@import url('side-bar/side-bar.css');
@import url('footer/footer.css');
@import url('menu-nav/menu-nav.css');
@import url('menu-page/menu-page.css');
@import url('contact/contact.css');
@import url('blog/blog.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw; 
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 1.25vw;
    left: 1.25vw;
    right: 1.25vw;
    bottom: 1.25vw;

    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.0) 50%,
            rgba(0, 0, 0, 0.7) 100%
        ),
        var(--dynamic-background, url("/frontend/assets/images/fondoP.jpg")) no-repeat center center;
    background-size: cover;

    border-radius: 1.5rem;

    z-index: -1;
    pointer-events: none;
}

.fade-in {
    animation: fadeIn 0.6s ease-in-out both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 48rem) {
    body::before {
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 200rem) {
    body::before {
        top: 2.4rem;
        left: 2.4rem;
        right: 2.4rem;
        bottom: 2.4rem;
    }
}